.grid-row {
    display: grid;
    grid-template-columns: repeat(5, 60px);
    gap: 0.2em;
}

.row-letter {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4.8px solid lightgray;
    border-radius: 10%;
}

.correct {
    background-color: lightgreen;
}

.semi-correct {
    background-color: lightyellow;
}

.wrong {
    background-color: lightcoral;
}
