.main-wrapper {
    display: flex;
    width: 100%;
    margin-top: 120px;
    flex-direction: column;
    align-items: center;
}

.game-grid {
    display: grid;
    grid-template-rows: repeat(6, 60px);
    gap: 0.2em;
    margin-bottom: 75px;
    font-size: 25px;
}

.grid-row {
    display: grid;
    grid-template-columns: repeat(5, 60px);
    gap: 0.2em;
}

.row-letter {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4.8px solid lightgray;
    border-radius: 10%;
}

.correct {
    background-color: lightgreen;
}

.semi-correct {
    background-color: lightyellow;
}

.wrong {
    background-color: lightcoral;
}

.locked {
    background-color: #e5e4e4;
}
