@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --font: 'Poppins'; 
    --text: #0e0305;
    --background: #fcf0f3;
    --primary: #d92a56;
    --secondary: #eaa68c;
    --tertiary: #f3cdbe;
}

* {
    font-family: var(--font), sans-serif; 
    color: var(--text);
    background-color: var(--background);
}

body {
    margin: 0;
}
