.container {
  margin: 0 8px;
}

.kb-row {
  display: flex;
  width: 100%;
  margin: 0 auto 8px;
  justify-content: center;
}

.kb-correct {
  background-color: var(--correct);
}

.kb-semi-correct {
  background-color: var(--semi-correct);
}

.kb-wrong {
  opacity: 0.5;
}

.kb-key {
  font-size: medium;
  font-weight: 900;
  border: none;
  border-radius: 4px;
  padding: 0;
  height: 55px;
  width: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 6px 0 0;
  color: #696969;
}
.kb-key:hover {
  filter: brightness(95%);
  cursor: pointer;
}

.kb-key,
.icon {
  background-color: lightgray;
}
