.container {
  display: flex;
  gap: 10px;
}

button {
  border-radius: 0.5rem;
  background-color: var(--primary);
  color: var(--background);
  border: none;
  padding: 0.6em 1.5em;
}

input {
  border-radius: 0.5rem;
  background-color: var(--tertiary);
  color: var(--text);
  border: 0;
  padding: 0.6em 1.5em;
}
